---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="Articles">
  <section>
    {posts.length ? posts.map((post) => <Card post={post} />) : <p>no posts</p>}
  </section>

  <style>
    section {
      padding: var(--space-8) 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;
    }
  </style>
</Layout>
