---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="Articles">
  <div class="container stretch">
    <div class="page__title">
      <h1><a href="../articles" transition:name="pagetitle">Articles</a></h1>
    </div>
    <section class="">
      {
        posts.length ? (
          posts.map((post) => (
            <Card transition:name="pagecontent" post={post} />
          ))
        ) : (
          <p>no posts</p>
        )
      }
    </section>
  </div>
</Layout>
<style>
  .page__title a {
    text-decoration: inherit;
    color: inherit;
  }

  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
