---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
import Feature from "../components/Feature.astro";

import { getHomepage } from "../utils/sanity";
import { getPosts } from "../utils/sanity";

const homepage = await getHomepage();
const posts = await getPosts();

const { heroText, slides } = homepage.homepageHero;
---

<Layout title="Home">
  <Hero heroText={heroText} slides={slides} />

  <section>
    {posts.length ? posts.map((post) => <Card post={post} />) : <p>no posts</p>}
  </section>

  <Feature />
</Layout>

<style>
  section {
    padding: var(--space-8) 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
