---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="Media">
  <div class="container stretch">
    <div class="page__title">
      <h1><a href="../media" transition:name="pagetitle">Media</a></h1>
    </div>
    <section class="post__items">
      {
        posts.length ? (
          posts.map((post) => (
            <Card transition:name="pagecontent" post={post} />
          ))
        ) : (
          <p>no posts</p>
        )
      }
    </section>
  </div>
</Layout>
<style>
  .page__title a {
    text-decoration: inherit;
    color: inherit;
  }

  .post__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap-default);
  }
</style>
