<section class="feature">
  <div class="feature__inner">
    <p>Leading the world forward through sustainable solutions.</p>
    <a href="#" class="button">Mission Statement</a>
  </div>
</section>

<style>
  .feature {
    min-height: 80vh;
    display: flex;
    align-items: flex-start;

    justify-content: flex-start;
    background: #ccc;
    padding: var(--space-3);
  }
</style>
