---
import { Icon } from "astro-icon/components";
const currentYear = new Date().getFullYear();
---

<footer class="footer container stretch">
  <div class="footer__inner">
    <h3 class="contact__title">Get in contact</h3>
    <a class="button social" href="#">
      <Icon class="social-icon" name="ri:linkedin-fill" /></a
    >
  </div>
  <div class="footer__bottom">
    <p class="footer__text">
      © Jacques Buith {currentYear}
    </p>
    <p class="footer__year">Website by Narwal & allthis.digital</p>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;

    & .footer__inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: var(--space-2xl) 0;

      align-content: center;
      align-items: center;
    }

    & .footer__bottom {
      display: flex;
      justify-content: space-between;
      padding: var(--space-s) 0;
      font-size: 12px;
      & .footer__year {
        font-size: inherit;
      }
      & .footer__text {
        font-size: var(--font-size-1);
        line-height: var(--line-height-1);
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: inherit;
      }
    }
  }

  .contact__title {
    margin: 0;
    padding: 0;
  }
  .social {
    display: flex;
    align-items: center;
    padding: var(--space-2xs);
    border-radius: var(--radius-full);
  }
  .social svg {
    width: var(--space-m);
    height: auto;
  }
</style>
