---
import Nav from "../components/Nav.astro";
---

<header>
  <div class="container stretch">
    <a class="header__title" href="/">Jacques Buith</a>
    <Nav />
  </div>
</header>

<style>
  header {
    padding: var(--space-xs);
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    mix-blend-mode: exclusion;
  }

  .header__title {
    font-family: var(--font-family-serif);
  }

  .container {
    display: flex;
    /* background: rgba(255, 255, 255, 0.2); */
    padding: var(--space-xs) var(--space-s);
    justify-content: space-between;
    align-items: center;

    border-radius: 100vw;

    /* backdrop-filter: blur(1vw); */

    & .header__title {
      font-weight: 600;
      font-size: var(--fontsize--1);
      line-height: 100%;

      text-decoration: none;
      color: var(--background-full);
    }
  }
</style>
