---
import Nav from "../components/Nav.astro";
---

<header>
  <div class="container stretch">
    <a class="header__title" href="/">Jacques Buith</a>
    <Nav />
  </div>
</header>

<style>
  header {
    padding: var(--space-xs);
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .container {
    display: flex;
    background: rgba(255, 255, 255, 0.4);
    padding: var(--space-xs) var(--space-m);
    justify-content: space-between;
    align-items: center;

    border-radius: 100vw;

    backdrop-filter: blur(20px);

    & .header__title {
      font-weight: 800;
      font-size: var(--font-size-3);
      line-height: var(--line-height-1);
      padding-left: var(--space-2);
      margin: var(--space-3) 0;
      text-decoration: none;
      color: var(--black);
    }
  }
</style>
