---
import type { Slide } from "../utils/sanity";
import SwiperJS from "./SwiperJS.astro";

interface Props {
  heroText: string;
  heroSlides: Slide[];
}

const { heroText, heroSlides }: Props = Astro.props;

console.log("Hero Slides:", heroSlides);
---

<section class="hero">
  <SwiperJS slides={heroSlides} />
  <div class="hero-text">
    <h1 class="hero-title">{heroText}</h1>
  </div>
</section>

<style>
  .hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Pas de hoogte van de carousel aan naar wens */
    min-height: 30rem;
    overflow: hidden;
    background: black;
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    pointer-events: none;
  }

  .hero-title {
    font-size: var(--fontsize-6);
    font-weight: 100;
    line-height: 100%;
    text-wrap: balance;
    color: white;
  }
  :global(.swiper) {
    width: 100%;
    height: 100%;
  }

  :global(.swiper-slide) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(.slide-image) {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>
