---

---

<nav>
  <ul class="nav-list">
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/media">Media</a>
    </li>
  </ul>
</nav>

<style>
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .nav-list li {
    margin: 0 var(--space-2xs);
  }

  .nav-list li a {
    font-size: var(--fontsize--2);
    font-weight: 600;
    text-decoration: none;
    color: var(--background-full);
  }

  .nav-list li a:hover {
    /* color: #f00; */
  }
</style>
