---
import { Image } from "astro:assets";
import { urlFor } from "../utils/image";

interface Slide {
  asset: {
    url: string;
  };
  caption?: string;
}

interface Props {
  slides: Slide[];
}

const { slides }: Props = Astro.props;
---

<div class="swiper-body">
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        slides.map((slide, index) => {
          const imageUrl = urlFor(slide.asset).url();
          //   console.log("index:", index);

          return (
            <div class="swiper-slide">
              <Image
                src={imageUrl}
                widths={[480, 960, 1440, 1920, 2560]}
                inferSize
                sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1080px) 720px, 1080px"
                alt={`Slide ${index + 1}`}
                class="page__cover"
              />

              {/* {slide.caption && <p class="swiper-caption">{slide.caption}</p>} */}
            </div>
          );
        })
      }
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<script src="../utils/slider_simple.js"></script>

<style>
  .swiper-body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
