---
const { quote } = Astro.props;
---

<div class="text-block">
  <div class="quote">
    <p>{quote}</p>
  </div>
</div>

<style>
  .text-block {
    padding: var(--space-3xl) 0;
  }

  p {
    font-family: var(--font-family-serif);
    font-size: var(--fontsize-4);
  }
</style>
