---
import { PortableText } from "astro-portabletext";

const { textItems } = Astro.props;
---

<div class="text-block">
  <div class={`columns columns-${textItems.length}`}>
    {
      textItems.map((textItem: any) => (
        <div class="column">
          <PortableText value={textItem.column} />
        </div>
      ))
    }
  </div>
</div>

<style>
  .text-block {
    margin: var(--space-4) 0;
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-4);
  }

  .column {
    display: flex;
    flex-direction: column;
  }
</style>
